<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        
        {% if user.is_authenticated %}
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="{% url 'panel_encargado' %}">Gestionar Citas</a>
        </li>
        <li>
            <a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
        </li>
        
       
        {% endif %}
    </ul>

    {% block content %}

    {% endblock %}
    
</body>
</html>