<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
    {% extends 'layouts/base.html' %}
</head>
<body> 
    {% block content %}
    <h1>Acerca de Nosotros</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odio quam hic fuga at quo. Excepturi non nemo facilis illum modi nihil. Qui nesciunt sit ex corporis maxime! Nesciunt, omnis.
    Autem harum voluptatem beatae velit optio? Deleniti iure nisi voluptas commodi repellat odio voluptatum consectetur eius rerum, harum ratione, ab cum maxime minima pariatur natus? Incidunt iste vero rerum tempora?
    Explicabo voluptates, perspiciatis, exercitationem esse, velit possimus natus cumque tenetur qui non in ducimus ex fuga architecto! Quibusdam debitis, corporis consequuntur magni mollitia excepturi dolor quisquam, porro consectetur harum laborum.
    Amet sit, eaque molestias totam doloribus magni cumque voluptas quo! Neque modi totam provident. Labore architecto sapiente tempore repudiandae neque vel reprehenderit nemo reiciendis quod ducimus iusto, consectetur, cumque facere?</p>
    {% endblock %}
    
</body>
</html>