
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Servicio</title>
    {% extends 'layouts/base.html' %}
</head>
<body>
    {% block content %}
    <h1>Detalles del servicio {{ servicio.nombre }}</h1>
    <ul>
        <li>
            {{ servicio.nombre }}:
            <ul>
                {% for fase, imagen_asociada, imagen_fase in fase_imagen_asociada %}
                <div class="fase">
                    <h3>{{ fase.nombre }}</h3>
                    {% if imagen_asociada %}
                    <img src="{{ imagen_fase.imagen.url }}" alt="Imagen de la fase" style="max-width: 200px;">
                    <form action="{% url 'eliminar_imagen' fase.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="cita_id" value="{{ cita.id }}">
                        <input type="hidden" name="servicio_id" value="{{ servicio.id }}">
                        <input type="hidden" name="fase_id" value="{{ fase.id }}">
                        <button type="submit">Eliminar Imagen</button>
                    </form>
                    {% else %}
                    <form action="{% url 'subir_imagen' fase.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="cita_id" value="{{ cita.id }}">
                        <input type="hidden" name="servicio_id" value="{{ servicio.id }}">
                        <input type="hidden" name="fase_id" value="{{ fase.id }}">
                        <input type="file" name="imagen" id="imagen-input" accept="image/png, image/gif, image/jpeg" >
                        <button type="submit" id="boton-subir-imagen" disabled>Subir Imagen</button>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </ul>
        </li>
    </ul>
    
    <script>
        // Selecciona el input de la imagen y el botón de subir imagen
        const imagenInput = document.getElementById('imagen-input');
        const botonSubirImagen = document.getElementById('boton-subir-imagen');
    
        // Agrega un evento de cambio al input de la imagen
        imagenInput.addEventListener('change', function() {
            // Verifica si se ha seleccionado un archivo
            if (imagenInput.files.length > 0) {
                // Habilita el botón de subir imagen si se ha seleccionado un archivo
                botonSubirImagen.disabled = false;
            } else {
                // Deshabilita el botón de subir imagen si no se ha seleccionado ningún archivo
                botonSubirImagen.disabled = true;
            }
        });
    </script>
{% endblock %}

</body>
</html>