<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la cita</title>
    {% extends 'layouts/base.html' %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Detalle de Cita en Proceso</h1>
        
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="h4">Información de la Cita</h2>
            </div>
            <div class="card-body">
                <p><strong>Id cita:</strong> {{ cita.id }}</p>
                <p><strong>Modelo del Carro:</strong> {{ cita.modelo_carro }}</p>
                <p><strong>Color:</strong> {{ cita.color }}</p>
                <p><strong>Placas:</strong> {{ cita.placas }}</p>
                <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
                <p><strong>Hora:</strong> {{ cita.hora }}</p>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h2 class="h4">Servicios Asociados</h2>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for servicio in servicios %}
                        <li class="list-group-item">
                            <a href="{% url 'detalle_servicio' cita.id servicio.id %}">{{ servicio.nombre }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
