<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatus de cita</title>
    {% extends 'layouts/base.html' %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Estatus de Cita</h1>
                <h2>{{ cita.modelo_carro }}</h2>
                <h2>{{ info_imagen_fase.imagen_fase.servicio.nombre }}</h2>
                <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
                <p><strong>Hora:</strong> {{ cita.hora }}</p>
            </div>
        </div>

         <!-- Lista de imágenes -->
         <div class="row mt-4">
            <!-- Iterar sobre la información de las imágenes de la fase -->
            {% for servicio in servicios %}
                <h2>{{ servicio.nombre }}</h2>
                {% for info_imagen_fase in info_imagenes_fase %}
                <div class="col-md-12">
                    <div class="card mb-4">
                        <!-- Mostrar el nombre de la fase -->
                        <div class="card-header">
                            <h3 class="card-title">{{ info_imagen_fase.imagen_fase.fase.nombre }}</h3>
                        </div>
                        <div class="card-body">
                            <!-- Mostrar la imagen -->
                            <img src="{{ info_imagen_fase.imagen_fase.imagen.url }}" class="card-img-top" alt="Imagen de la fase">
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">No hay imágenes disponibles para esta fase.</div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    

    {% endblock %}
        
</body>
</html>