<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {% extends 'layouts/base.html' %}
    {%load static %} <!--Especifica que se va a cargar contenido estático-->
</head>
<body>
    {% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Inicio</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, hic. Inventore pariatur excepturi totam. Optio hic placeat delectus illum veritatis atque accusamus, perferendis fuga reiciendis explicabo, rem recusandae odit laudantium?
            Modi fugiat veniam odio nisi voluptas ipsam aliquid porro cum minus quam cumque debitis, ipsa corrupti eos enim dolor maiores quaerat nobis doloribus! Eius non iure consequatur distinctio, consectetur reiciendis?
            Ipsa magni aliquid dolor odit dicta ab deleniti molestias! Harum repellendus, debitis cumque optio dolorum, molestiae pariatur eos aperiam at est quis, inventore quo illo quas rerum natus illum quia?
        </p>
        {% if user.is_authenticated %}

        <div>

        </div>
        {% else %}

        <div class="text-center">
            <a class="btn btn-primary" href="/iniciar_sesion/">Iniciar Sesión</a>
        
        
            <a class="btn btn-secondary" href="/registro/">Registrarse</a>
        </div>
        {% endif %}
        
        </section>
    </main>
    
</body>
    {% endblock %}
</html>