<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {% extends 'layouts/base.html' %}
    {% load static %} <!-- Especifica que se va a cargar contenido estático -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-img {
            height: 300px; /* Altura fija */
            width: 100%; /* Ancho completo */
            object-fit: cover; /* Recorta y ajusta la imagen */
        }
    </style>
</head>
<body>
    {% block content %}
    <main class="container py-5 d-flex justify-content-center align-items-center">
        <section class="card card-body shadow-lg">
            <h1 class="display-4 text-center mb-4">Bienvenidos a Taller Mecánico DEA</h1>
            <h2 class="text-center text-muted">Diagnóstico Electrónico Automotriz</h2>
            
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-6 mb-4">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{% static 'local.jpg' %}" class="img-fluid rounded shadow-sm custom-img">
                    </div>
                </div>
            </div>
            
            <p class="lead text-center">
                Su taller mecánico de confianza en San Luis Potosí. Con una trayectoria que se remonta a la década de 1970, ofrecemos una amplia gama de servicios especializados:
            </p>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">Afinación Menor</li>
                <li class="list-group-item">Afinación Mayor</li>
                <li class="list-group-item">Revisión de Módulos</li>
                <li class="list-group-item">Revisión de PCM</li>
                <li class="list-group-item">Corrección y Reparación de Fallas</li>
            </ul>
            
            <div class="text-center">
                <p class="mb-1">
                    Estamos ubicados en <strong>C. Gral. Ignacio Martínez 1453, De Tequisquiapan, 78250 San Luis Potosí, S.L.P.</strong> y nuestro horario de atención es de <strong>9 a 6</strong>. Te invitamos a visitarnos y experimentar la diferencia de un servicio personalizado y de calidad.
                </p>
                <p class="mb-4">
                    También puedes contactarnos al <strong>+52 444 811 2969</strong> o enviarnos un correo a <strong><a href="mailto:automotriz1453sistemas@gmail.com">automotriz1453sistemas@gmail.com</a></strong> para solicitar más información.
                </p>
            </div>
        </section>
    </main>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
