<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas disponibles</title>
    {% extends 'layouts/base.html' %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .list-group-item {
            transition: transform 0.2s;
        }
        .list-group-item:hover {
            transform: scale(1.02);
        }
    </style>
</head>
<body>
    {% block content %}
    <main class="container my-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center display-4 mb-4">{% block title %}{{ titulo }}{% endblock %}</h1>
                {% if citas_en_espera %}
                <div class="mb-4">
                    <h2 class="text-center">Citas en Espera</h2>
                    <ul class="list-group">
                        {% for cita in citas_en_espera %}
                        <a class="list-group-item list-group-item-action" href="{% url 'detalle_cita_cliente' cita.id %}">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="mb-1"><strong>Usuario:</strong> {{ cita.usuario }}</p>
                                    <p class="mb-1"><strong>Modelo del Carro:</strong> {{ cita.modelo_carro }}</p>
                                    <p class="mb-1"><strong>Color:</strong> {{ cita.color }}</p>
                                    <p class="mb-1"><strong>Placas:</strong> {{ cita.placas }}</p>
                                    <p class="mb-1"><strong>Fecha:</strong> {{ cita.fecha }}</p>
                                    <p class="mb-1"><strong>Hora:</strong> {{ cita.hora }}</p>
                                </div>
                                <h5 class="mb-0 fw-bold text-success">{{ cita.estado }}</h5>
                            </div>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% if citas_en_proceso %}
                <div>
                    <h2 class="text-center">Citas en Proceso</h2>
                    <ul class="list-group">
                        {% for cita in citas_en_proceso %}
                            <a class="list-group-item list-group-item-action" href="{% url 'estatus_cita' cita.id %}">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="mb-1"><strong>Usuario:</strong> {{ cita.usuario }}</p>
                                        <p class="mb-1"><strong>Modelo del Carro:</strong> {{ cita.modelo_carro }}</p>
                                        <p class="mb-1"><strong>Color:</strong> {{ cita.color }}</p>
                                        <p class="mb-1"><strong>Placas:</strong> {{ cita.placas }}</p>
                                        <p class="mb-1"><strong>Fecha:</strong> {{ cita.fecha }}</p>
                                        <p class="mb-1"><strong>Hora:</strong> {{ cita.hora }}</p>
                                    </div>
                                    <h5 class="mb-0 fw-bold text-success">{{ cita.estado }}</h5>
                                </div>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if citas_finalizadas %}
                <div>
                    <h2 class="text-center">Citas Finalizadas</h2>
                    <ul class="list-group">
                        {% for cita in citas_finalizadas %}
                            <a class="list-group-item list-group-item-action" href="{% url 'estatus_cita' cita.id %}">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h3 class="mb-0 fw-bold text-success">Ya puede pasar por su vehículo</h3>
                                        <p class="mb-1"><strong>Usuario:</strong> {{ cita.usuario }}</p>
                                        <p class="mb-1"><strong>Modelo del Carro:</strong> {{ cita.modelo_carro }}</p>
                                        <p class="mb-1"><strong>Color:</strong> {{ cita.color }}</p>
                                        <p class="mb-1"><strong>Placas:</strong> {{ cita.placas }}</p>
                                        <p class="mb-1"><strong>Fecha:</strong> {{ cita.fecha }}</p>
                                        <p class="mb-1"><strong>Hora:</strong> {{ cita.hora }}</p>
                                    </div>
                                    <h5 class="mb-0 fw-bold text-success">{{ cita.estado }}</h5>
                                    
                                </div>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>
