<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Encargado</title>
    {% extends 'layouts/base_encargado.html' %}
</head>
<body>
    {% block content %}
    <h1>Encargado</h1>
    <div class="tabs">
        <button class="tablinks" onclick="showCitas(event, 'en_espera')">En Espera</button>
        <button class="tablinks" onclick="showCitas(event, 'en_proceso')">En Proceso</button>
        <button class="tablinks" onclick="showCitas(event, 'finalizadas')">Finalizadas</button>
    </div>
    
    <div id="en_espera" class="tabcontent">
        <h2>Citas en Espera</h2>
            {% for cita in citas_en_espera %}
                <div class="cita">
                    <p>{{ cita.id }}  {{cita.modelo_carro}} {{cita.placas}}</p>
                    <form action="{% url 'modificar_estado_cita' cita.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Estás seguro de modificar el estado de la cita?')" >Marcar como en proceso</button>
                    </form>
                    <!-- Agregar un formulario para eliminar la cita -->
                    <form action="{% url 'eliminar_cita' cita.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Estás seguro de eliminar la cita?')">Eliminar cita</button>
                    </form>
                </div>
                
            {% endfor %}
    </div>
    
    <div id="en_proceso" class="tabcontent">
        <h2>Citas en Proceso</h2>
        {% for cita in citas_en_proceso %}
        <p>{{ cita.id }}  {{cita.modelo_carro}} {{cita.placas}}</p>
            <!-- Agregar más detalles de la cita -->
        {% endfor %}
    </div>
    
    <div id="finalizadas" class="tabcontent">
        <h2>Citas Finalizadas</h2>
        {% for cita in citas_finalizadas %}
        <p>{{ cita.id }}  {{cita.modelo_carro}} {{cita.placas}}</p>
            <!-- Agregar más detalles de la cita -->
        {% endfor %}
    </div>
    
    <script>
        function showCitas(evt, status) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(status).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    {% endblock %}
</body>
</html>