<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
    {% extends 'layouts/base.html' %}
</head>
<body>  
    {% block content %}
    <h1>Preguntas Frecuentes</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam a eos magnam, reprehenderit dolore autem hic, ut nulla dolorum, quia eligendi odit. Dolore, dignissimos quod. Id magnam itaque aliquid pariatur!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum perspiciatis tempore, ex voluptatum porro dolorem aliquid non nam expedita asperiores neque mollitia modi? Expedita debitis quis a temporibus, autem ad.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad autem in, ullam expedita quasi sequi consequatur laborum distinctio corporis delectus, animi ipsum optio voluptate, corrupti placeat quaerat nisi mollitia rerum?</p>
    {% endblock %}

    
    
</body>
</html>