<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    {% extends 'layouts/base.html' %}
</head>
<body>
    {% block content %}
    <main class="container py-5">
        <h1>Listado de Lista de Servicios</h1>
        <ul>
            {% for servicio in servicios %}
                <li>
                    <h2>{{ servicio.nombre }}</h2>
                    <p>{{ servicio.descripcion }}</p>
                    <!--<p>Precio: {{ servicio.precio }}</p>-->
                </li>
            {% endfor %}
        </ul>
    </main>
    
    {% endblock %}
</body>
</html>
