<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    {% extends 'layouts/base.html' %}
</head>
<body>
    {% block content %}
    
    <h1>Listado de Servicios</h1>
    <ul>
        {% for servicio in servicios %}
        <li>
            <strong>Nombre:</strong> {{ servicio.nombre }} <br>
            <strong>Descripción:</strong> {{ servicio.descripcion }} <br>
            <strong>Precio:</strong> ${{ servicio.precio }}
        </li>
        {% endfor %}
    </ul>
    
    {% endblock %}
</body>
</html>